html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'VT323';
  
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.calculator-screen {
  
  width: 90%;
  margin: 5%;
  font-size: 3rem;
  height: 120px;
  background-color: #333232;
  color: #1c76ca;
  text-align: right;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 10px;
}

.btn ,button {
  height: 70px;
  background-color: rgb(112, 112, 112);
  border-radius: 6px;
  border: 1px solid #c4c4c4;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 1px rgba(255,255,255,.4);
}

button:hover {
  background-color: #1c76ca;
}

.operator {
  background-color: #333232;
  color: #fff;
}
.operator:hover {
  background-color: #f17377;
}
.all-clear {
  background-color: #333232;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #e41b3c;
  border-color: #b83b56;
  color: #fff;
  height: 100%;
  grid-area: 4/ 4 / 6 / 5;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

.zero{
  color: #fff;
  height: 100%;
  grid-area: 5/ 1 / 5 / 3;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  padding: 5%;
}
